body {
	background-color: #fcfbf6;
}

body, button, input, select, textarea, th {
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
	font-weight: 300;
	color: #241e12;
}


a, a:visited {
	text-decoration: none;
}

a {
	color: #935718;
}

a:visited {
	color: #422008;
}

a:hover {
	color: #e2811a;
}

button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 7px 12px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius:  4px;
	box-shadow: 2px 2px 5px #0007;
}

.withIcon {
	display: inline-flex;
	align-items: center
}

.withIcon > i {
	margin-right: 6px;
}

h1, h2, h3, h4, th {
	font-weight: 400;
	margin-block-start: 0.3em;
	margin-block-end: 0.3em;
}

#descriptionSection {
	padding: 10px;
}

#authorizeButton, #signoutButton {
}

#auth {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
}

.appTitle {
	flex-grow: 1;
	align-self: center;
}

#content {
	position: relative;
	padding:  10px;
}

#error {
	color: #800;
}

#timesheetTableContainer {
}

table, tr, th, td {
	border: thin solid black;
}

#timesheetTable {
	border-collapse: collapse;
}

#timesheetTable > tbody > tr:hover {
	background-color: #ded8b6;
	cursor: pointer;
}

.modal {
	position: fixed;
	z-index: 1;
	overflow: auto;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	flex-direction: column;
	background-color: #777777fa;
}

.modal .panel {
	margin: 100px auto;
}

.titleBar {
	display: flex;
	flex-direction: row;
}

.titleBar > .label {
	flex-grow: 1;
	font-size: 120%;
}

.close {
	color: #aaaaaa;
	font-size: 28px;
	font-weight: bold;
	margin-top: -5px;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.panel {
	background-color: #f7edd9;
	padding: 10px;
	border-radius: 8px;
	border: thin solid black;
	box-shadow: 5px 5px 15px #0008;
	max-width: 250px;
}

form {
	display: flex;
	flex-direction: column;
}

form > label {
	margin-top: 10px;
}

.controls {
	display: flex;
}

.controls > * {
	margin: 5px;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	text-align: center;
	font-size: 0.8em;
	background-color: #e0cda8;
	box-shadow: 0 -2px 2px #b4aea357;
}

footer a {
	margin: 4px 16px;
}