html {
	height: 100%;
}

body {
	background-color: #fcfbf6;
	margin: 0;
	height: 100vh;
	display:flex;
	flex-direction:column;
	min-width:  460px;
}

footer {
	margin-top: auto;
	display: flex;
	justify-content: center;
	padding: 5px;
	text-align: center;
	font-size: 0.8em;
	background-color: #e0cda8;
	box-shadow: 0 -2px 2px #b4aea357;
}

@media only screen and (max-width: 500px) {
	footer {
		flex-direction: column;
	}
}

footer a {
	margin: 4px 16px;
}

body, button, input, select, textarea, th {
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
	font-weight: 300;
	color: #241e12;
}


a, a:visited {
	text-decoration: none;
}

a {
	color: #935718;
}

a:visited {
	color: #422008;
}

a:hover {
	color: #e2811a;
}

button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 7px 12px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius:  4px;
	box-shadow: 2px 2px 5px #0007;
}

.withIcon {
	display: inline-flex;
	align-items: center
}

.withIcon > i {
	margin-right: 6px;
}

h1, h2, h3, h4, th {
	font-weight: 400;
	margin-block-start: 0.3em;
	margin-block-end: 0.3em;
}

#descriptionSection {
	padding: 10px;
}

#authorizeButton, #signoutButton {
	margin: 16px;
}

#auth {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
}

.appTitle {
	flex-grow: 1;
	align-self: center;
}

#content {
	position: relative;
	padding:  10px;
	margin-bottom: 50px;
}

li {
	margin: 10px;
}

#error {
	color: #800;
}

td, th {
	padding: 6px;
}

table {
	border-collapse: collapse;
}

table, tr, th, td {
	border: thin solid #837c7b;
}

tr:nth-child(even) {
	background-color: #f8f5eb
}

#timesheetTable > tbody > tr:hover {
	background-color: #ded8b6;
	cursor: pointer;
}

.modal {
	position: fixed;
	z-index: 1;
	overflow: auto;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	flex-direction: column;
	background-color: #777777fa;
}

.modal .panel {
	margin: 100px auto;
}

.titleBar {
	display: flex;
	flex-direction: row;
}

.titleBar > .label {
	flex-grow: 1;
	font-size: 120%;
}

.close {
	color: #aaaaaa;
	font-size: 28px;
	font-weight: bold;
	margin-top: -5px;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.panel {
	background-color: #f7edd9;
	padding: 10px;
	border-radius: 8px;
	border: thin solid #241e12;
	box-shadow: 5px 5px 15px #0008;
	max-width: 250px;
}

form {
	display: flex;
	flex-direction: column;
}

form > label {
	margin-top: 10px;
}

.controls {
	display: flex;
	align-items: center;
}

.controls > * {
	margin: 5px;
}

/* Indeterminate progress bar thanks to https://codepen.io/shalimano/pen/wBmNGJ */
.progressBar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 3px;
	overflow: hidden;
	--color: #702e21;
}

.progressBar .line1 {
	position: fixed;
	top: 0;
	z-index: 100;
	opacity: 0.4;
	background: var(--color);
	width: 150%;
	height: 3px;
}

.progressBar .line2 {
	position: fixed;
	top: 0;
	background: var(--color);
	height: 3px;
}

.inc {
	animation: increase 2s infinite;
}

.dec {
	animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
	from {
		left: -5%;
		width: 5%;
	}
	to {
		left: 130%;
		width: 100%;
	}
}

@keyframes decrease {
	from {
		left: -80%;
		width: 80%;
	}
	to {
		left: 110%;
		width: 10%;
	}
}